# .env
old
.DS_Store
my_env
airflow_env
__pycache__
# Notes.txt
# youtubereviews-418617-7497fbcacee2.json

terraform/cloud_storage/youtubereviews-418617-7497fbcacee2.json
terraform/cloud_storage/.terraform
terraform/cloud_storage/.terraform.lock.hcl
terraform/cloud_storage/terraform.tfstate
terraform/cloud_storage/terraform.tfstate.backup

terraform/sql_database/youtubereviews-418617-7497fbcacee2.json
terraform/sql_database/.terraform
terraform/sql_database/.terraform.lock.hcl
terraform/sql_database/terraform.tfstate
terraform/sql_database/terraform.tfstate.backup

google-cloud-cli-471.0.0-linux-x86_64.tar.gz
google-cloud-sdk
